@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
    font-family: 'Permanent Marker', cursive;
}

div.col-md-4 div{
    padding: 8px 20px;
    /* margin: auto; */
}

div.col-md-4 div a{
    width: 60px;
    height: 60px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;
    color: #eee;
    background-color: #555;
    text-align: center;
    display: inline-block;
    border: 1px solid #555;
    border-radius: 10px;
}

div.col-md-4 div a:hover{
    text-decoration: none;
}